/***
*
*   FOOTER
*
***/
footer {
    background-color: var(--fondo);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: var(--grisclaro);
}
.logo_n {
    width: 5%; 
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.site-footer a {
    color: var(--grisclaro);
    text-decoration: none;
}
.site-footer a:hover {
    color: var(--dorado);
    text-decoration:none;
}

/* Footer Links */
.footer-links {
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 1.25rem;
}

.footer-links li {
    display: inline-block;
    margin-right: 2rem;
    font-size: small;
}

.footer-links a {
    color: var(--dorado)
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--blanco);
    text-decoration:none;
}

/**
*   Section hr bot
**/
.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small {
    margin:20px 0
}
.container {
    justify-content: space-between;
}
.footer-bot {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
}

.copyright-text {
    font-weight: 700;
    margin-top: 0;
    margin-left: 0;
    padding-left: 3rem;
}
/* Iconos */
.site-footer .social-icons {
    display: flex; /* Cambiado a display flex */
    align-items: center; /* Centra verticalmente los elementos */
    padding-top: 0.5rem;
}
.site-footer .social-icons a
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 0.8rem;
    margin-left: 6px;
    margin-right: 0;
    background-color: var(--fondo);
}
.social-icons {
    padding-left:0;
    margin-right: 1.5rem;
    margin-bottom:0;
    list-style:none;
}
.social-icons li {
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a {
    background-color: var(--blanco);
    color: var(--blanco);
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:focus,
.social-icons a:hover {
    color: var(--fondo);
    background-color: var(--dorado);
}
.social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
} 



/***
*   RESPONSIVE
***/
@media (max-width: 768px) {

  .logo_n {
    min-width: 12.5%; 
  }

  .social-icons {
    padding-left:0;
    margin-right: 1rem;
    margin-bottom:0;
    list-style:none;
  }
}