/**
*
*   SELECTOR IDIOMA
*
**/
/* posicion absoluta*/
#language-position {
  list-style: none;
  position: absolute;
  top: 1.4rem; /* Ajusta la posición desde arriba según sea necesario */
  left: 32.5%; /* Ajusta la posición desde la izquierda según sea necesario */
}

#language-position li {
  display: inline-block;
  margin-bottom: 4px;
}

/* Estilo para ocultar el selector de idioma por defecto */
#language-selector {
    display: flex;
    flex-direction: column;
    position: absolute; /* Ajusta la posición del cuadro de selección según tus necesidades */
    top: 3rem; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 4.5rem; /* Ajusta la distancia desde la derecha según tus necesidades */
    background-color: none; /* Cambia el color de fondo del cuadro de selección según tus preferencias */
    border: none; /* Añade un borde al cuadro de selección, puedes personalizar según tus necesidades */
    z-index: 1; /* Ajusta el índice z para asegurar que esté sobre otros elementos */
}

/* Estilo para las opciones del selector */
#language-selector select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--fondo); /* Cambia el color de fondo de las opciones del selector según tus preferencias */
    color: var(--blanco); /* Cambia el color del texto de las opciones según tus preferencias */
    border: 1px solid var(--fondo); /* Añade un borde a las opciones del selector, puedes personalizar según tus necesidades */
    border-radius: 4px; /* Ajusta la forma del borde de las opciones del selector, puedes personalizar según tus necesidades */
}

header.abajo #language-selector select { 
    background-color: var(--fondo); /* Cambia el color de fondo de las opciones del selector según tus preferencias */
    color: var(--dorado); /* Cambia el color del texto de las opciones según tus preferencias */
    border: 1px solid none; /* Añade un borde a las opciones del selector, puedes personalizar según tus necesidades */
}


/* Estilo para el icono, puedes personalizar según tus necesidades */
#language-icon {
    cursor: pointer;
    color: var(--gris);
    font-family:'Varela', monospace;
    font-weight: bold;
    font-size: 24px;
}

/* Estilo para el icono cuando está dentro de un contenedor */
#language-icon i {
    display: block;
    margin: auto;
}

/* Estilo para ocultar el selector de idioma cuando tiene la clase 'hidden' */
#language-selector.hidden {
    display: none;
}  
